# Generic ones
.DS_Store
.idea
local.*
*.sql
.swp
.vscode

# Ignore Drupal's local setting overrides
webroot/sites/default/settings.local.php

# Ignore local development services
webroot/sites/sites/development.services.yml
webroot/sites/sites/default/settings.private.php

# Ignore paths that contain user-generated content.
docroot/files
docroot/sites/*/files
docroot/sites/*/private