{#
/**
 * @file fsa_managed_link.html.twig
 * Default theme implementation to present FSA managed link data.
 *
 * This template is used when viewing FSA managed link pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_fsa_managed_link()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('fsa_managed_link') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
