{#
/**
 * @file
 * FSA label.
 *
 * Initially used for in title_prefix for regional variation and consultation
 * types. Can be generalized with other data whenever a page title should have
 * a prefix.
#}
<div{{ attributes }}>
    {{ label }}
</div>