{#
    Render image as a background
#}

{# todo: dimensions set inline to have the images visible - Oskari move to css #}
<div style="background: url({{ path }}) no-repeat; width: 450px; height: 200px; background-size: contain;"></div>