{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
<input{{ attributes }} />{{ children }}
<div class="google-map-address">
  <div class="google-map-address__cta">
    Unsure where you purchased the food? <a href="#" id="map-trigger">Look on our map.</a>
  </div>
  <div class="google-map-address_picker" id="map" style="display: none; height:100%; min-height: 30em;"></div>
</div>
