{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
<input{{ attributes }} />{{ children }}
<div class="establishment-lookup-map">
  <div class="establishment-lookup-map__cta">
    <div class="establishment-lookup-map__cta__icon"></div>
    <div class="establishment-lookup-map__cta__text">
      Unsure where you purchased the food? <a href="#" id="map-trigger">Look on our map.</a>
    </div>
  </div>
  <div class="establishment-lookup-map_picker" id="map"></div>
</div>
