<div class="field__field_subject_listing__item field__field_subject_listing__item--odd">
  <h3 class="field field__field_title" id="subject-animal-feed">Animal feed</h3>


  <div class="field field__field_intro">We aim to help protect consumer and animal health and make sure that those buying the feed have enough information to make
    informed choices.</div>

    <div class="field field__field_link_list">
      <h4 class="field__field_link_list__heading label__above">In this section</h4>
      <div>

        <div class="field__field_link_list__item field__field_link_list__item--even">
          <a href="#">Milk hygiene and antibiotic residues</a>
        </div>

        <div class="field__field_link_list__item field__field_link_list__item--odd">
          <a href="#">Raw drinking milk </aa>
        </div>

        <div class="field__field_link_list__item field__field_link_list__item--even">
          <a href="#">Raw cows' drinking milk</a>
        </div>

        <div class="field__field_link_list__item field__field_link_list__item--odd">
          <a href="#">Managing farm manures for food safety</a>
        </div>

        <div class="field__field_link_list__item field__field_link_list__item--even">
          <a href="#">Food chain information</a>
        </div>

        <div class="field__field_link_list__item field__field_link_list__item--odd">
          <a href="#">Cleaner cattle and sheep</a>
        </div>

        <div class="field__field_link_list__item field__field_link_list__item--even">
          <a href="#">Poultry farming guidance</a>
        </div>

        <div class="field__field_link_list__item field__field_link_list__item--odd">
          <a href="#">Health certificate for farmed game animals</a>
        </div>

        <div class="field__field_link_list__item field__field_link_list__item--even">
          <a href="#">Pesticides in food</a>
        </div>

        <div class="field__field_link_list__item field__field_link_list__item--odd">
          <a href="#">Mycotoxins</a>
        </div>
      </div>
    </div>
  </div>
</div>
