<article class="${scope.styles.locals.item}" id="${scope.id}">
  <header class="${scope.styles.locals.item__header}">
    <h3 class="${scope.styles.locals.item__title}">${scope.title}</h3>
    <p class="${scope.styles.locals.item__description}">${scope.description}</p>
  </header>

  <div class="${scope.styles.locals.item__element}">${scope.element}</div>

  <form class="${scope.styles.locals.item__code}" role="region">

    <input name="info-input" id="tabHTML-${scope.guid}" type="radio" class="${scope.styles.locals.item__input} ${scope.styles.locals.item__html}" checked="">
    <input name="info-input" id="tabCSS-${scope.guid}" type="radio" class="${scope.styles.locals.item__input} ${scope.styles.locals.item__css}">
    <input name="info-input" id="tabJS-${scope.guid}" type="radio" class="${scope.styles.locals.item__input} ${scope.styles.locals.item__js}">

    <div class="${scope.styles.locals.item__tabList}" role="tablist">
      <label class="${scope.styles.locals.item__tabItem} ${scope.styles.locals.item__html}" for="tabHTML-${scope.guid}" role="tab" aria-selected="true"><span class="info-tab-label-text">HTML</span></label>
      <label class="${scope.styles.locals.item__tabItem} ${scope.styles.locals.item__css}" for="tabCSS-${scope.guid}" role="tab" aria-selected="false"><span class="info-tab-label-text">CSS</span></label>
      <label class="${scope.styles.locals.item__tabItem} ${scope.styles.locals.item__js}" for="tabJS-${scope.guid}" role="tab" aria-selected="false"><span class="info-tab-label-text">JS</span></label>
    </div>

    <div class="${scope.styles.locals.item__tabContent}">
      <div class="${scope.styles.locals.item__tabCode} ${scope.styles.locals.item__html}" role="tabpanel">
        <pre class="${scope.styles.locals.pre}"><code class="${scope.styles.locals.code} html">${scope.html || 'No component-specific HTML required.'}</code></pre>
      </div>

      <div class="${scope.styles.locals.item__tabCode} ${scope.styles.locals.item__css}" role="tabpanel">
        <pre class="${scope.styles.locals.pre}"><code class="${scope.styles.locals.code} css">${scope.css || 'No component-specific CSS required.'}</code></pre>
      </div>

      <div class="${scope.styles.locals.item__tabCode} ${scope.styles.locals.item__js}" role="tabpanel">
        <pre class="${scope.styles.locals.pre}"><code class="${scope.styles.locals.code} js">${scope.js || 'No component-specific JavaScript required.'}</code></pre>
      </div>
    </div>

  </form>
</article>
