<h1>Heading Level 1</h1>
<h2>Heading Level 2</h2>
<h3>Heading Level 3</h3>
<h4>Heading Level 4</h4>
<h5>Heading Level 5</h5>
<h6>Heading Level 6</h6>

<br>

<p>This is standard text within a paragraph</p>
<a href="#">This is a link</a>
<p><strong>This is strong text</strong></p>
<p><em>This text has added emphasis</em></p>

<br>

<div class="regional-variation regional-variation--england js-regional-variation js-england">
  Regional variation: England
</div>

<div class="regional-variation regional-variation--wales js-regional-variation js-wales">
  Regional variation: Wales
</div>

<div class="regional-variation regional-variation--northern-ireland js-regional-variation js-northern-ireland">
  Regional variation: Northern Ireland
</div>

<div class="regional-variation regional-variation--england-wales js-regional-variation js-england-wales">
  Regional variation: Applies to multiple regions (e.g. England and Wales)
</div>

<div class="important">This style is for important content, indicated by the 'important' className.</div>
<div class="explanation js-explanation">'FSA Explains' -> #TODO put the full component here</div>

<article class="embedded-entity">
  <article class="media media-document view-mode-document-link">
    <div class="field field__field_document">
      <div class="file__type_application-pdf">
        <div>
          <a href="" class="ext">This is an example of a link to a pdf document.
            <span class="ext">
              <span class="element-invisible"> </span>
            </span>
          </a>
          <span>(100 KB)</span>
        </div>
      </div>
    </div>

  </article>
</article>