/*Breakpoints
Using postcss-custom-media
Plugin documentation:
  https://github.com/postcss/postcss-custom-media*/
@custom-media --breakpoint-xxs (min-width: 20em);
@custom-media --breakpoint-xs (min-width: 30em);
@custom-media --breakpoint-sm (min-width: 50em);
@custom-media --breakpoint-md (min-width: 60em);
@custom-media --breakpoint-lg (min-width: 80em);
@custom-media --breakpoint-xl (min-width: 120em);

/*Custom selectors
Using postcss-custom-selectors
Plugin documentation:
  https://github.com/postcss/postcss-custom-selectors*/
@custom-selector :--heading h1, h2, h3, h4, h5, h6;
@custom-selector :--enter :hover, :focus;

@custom-selector :--not-touch html:not(.is-touch);

@custom-selector :--not-js html:not(.js);

/*PostCSS Mixins
Using postcss-mixins
Plugin documentation:
  https://github.com/postcss/postcss-mixins*/
@define-mixin responsive-declaration $property, $valueMin, $valueMax {
  $(property): $valueMin;

  @media (--breakpoint-xs) {
    $(property): calc($valueMin + (($valueMax - $valueMin) / 4) * 1);
  }

  @media (--breakpoint-sm) {
    $(property): calc($valueMin + (($valueMax - $valueMin) / 4) * 2);
  }

  @media (--breakpoint-md) {
    $(property): calc($valueMin + (($valueMax - $valueMin) / 4) * 3);
  }

  @media (--breakpoint-lg) {
    $(property): calc($valueMin + (($valueMax - $valueMin) / 4) * 4);
  }
}

/*CSS Custom properties
Using postcss-custom-properties
Plugin documentation:
  https://github.com/postcss/postcss-custom-properties*/

/*Color palette*/
:root {
  --color-black: #000;
  --color-white: #fff;

  --color-gray: #848B8E;

  --color-light-gray: #DEE2E5;
  --color-lighter-gray: #F0F3F5;

  --color-teal: #00A39B;
  --color-light-teal: #10c7be;

  --color-purple: #49176D;

  --color-red: #E31837;

  --color-green: #6CB33F;

  --color-dark-blue: #18262C;
}

:root {
  --primary-color: var(--color-teal);
  --light-primary-color: var(--color-light-teal);

  --secondary-color: var(--color-purple);
}

/*Typography*/
:root {
  --font-size-base: 112.5%;
  --font-family-heading: 'Fira Sans', sans-serif;
  --font-family-content: 'Open Sans', sans-serif;
}

/*Z-Index*/
:root {
  --z-bottom: 1;
  --z-middle: 10;
  --z-top: 20;
}

/*Box-shadow*/
:root {
  --box-shadow: 0 0.5em 2em 0 color(#000 a(20%));
}

* {
  box-sizing: border-box;
}

::selection {

}

html {
  font-family: var(--font-family-content);
  font-size: var(--font-size-base);
  letter-spacing: 0.015em;
  @mixin responsive-declaration font-size, 100%, var(--font-size-base);
  @mixin responsive-declaration line-height, 1.2, 1.333;
}

body {
  margin: 0;

  & a {
    color: var(--primary-color);
    text-decoration: none;
  }

  @media (--breakpoint-md) {
    flex-flow: row nowrap;
    align-items: center;
  }
}

body:after {
  content: "sm";
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;

  @media (--breakpoint-md) {
    content: "md";
  }
}

:--heading {
  font-family: var(--font-family-heading);
  font-weight: 700;

  &:first-child {
    margin-top: 0em;
  }

  &:last-child {
    margin-bottom: 0em;
  }
}

h1 {
  @mixin responsive-declaration font-size, 2.2em, 3.333em;
  @mixin responsive-declaration line-height, 1.2, 1.1;
}

h2 {
  @mixin responsive-declaration font-size, 2em, 2.67em;
  @mixin responsive-declaration line-height, 1.2, 1.1;
  color: var(--primary-color);

  &.small {
    @mixin responsive-declaration font-size, 1.8em, 2em;
    @mixin responsive-declaration line-height, 1.2, 1.25;
    color: inherit;
  }
}

h3 {
  @mixin responsive-declaration font-size, 1.25em, 1.7em;
  @mixin responsive-declaration line-height, 1.2, 1.25;
}

h4 {
  @mixin responsive-declaration font-size, 1.125em, 1.33em;
  @mixin responsive-declaration line-height, 1.2, 1.17;
}

h5 {
  font-size: 1em;
  @mixin responsive-declaration line-height, 1.2, 1.225;
}

h6 {
  font-size: 0.889em;
  @mixin responsive-declaration line-height, 1.0, 1.125;
}

p {
  &:first-child {
    margin-top: 0em;
  }

  &:last-child {
    margin-bottom: 0em;
  }
}

p.lead {
  @mixin responsive-declaration font-size, 1.0em, 1.2em;
}

img {
  max-width: 100%;
}

svg {
  width: 100%;
  height: 100%;
}

button {
  font-size: 1em;
  border: 0;
  background-color: transparent;
}

pre {
  overflow-x: auto;
}

blockquote {
  box-shadow: -0.3em 0 0 0 var(--primary-color);
  padding-left: 1em;
  @mixin responsive-declaration margin-left, 1em, 2em;
  margin-right: 1em;
}

ol, ul {
  @mixin responsive-declaration padding-left, 1.5em, 2.5em;

  & li:not(:last-child) {
    margin-bottom: 1em;
  }
}

fieldset {
  margin: 0;
  @mixin responsive-declaration margin-top, 1em, 2em;
  @mixin responsive-declaration margin-bottom, 1em, 2.5em;

  & legend {
    margin-bottom: 0.5em;
    display: block;
    width: 100%;
    /*color: var(--primary-color);*/
    overflow: auto;
  }
}

input, textarea, select {
  display: block;
  max-width: 100%;
  font-size: 1em;
  padding: 0.5em;
  border-radius: 0.15em;
  background-color: var(--color-white);
  box-shadow: 0px 0px 0px 2px var(--color-black);

  &:focus {
    box-shadow: 0px 0px 0px 2px var(--primary-color);
  }
}

select {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='10px' height='6px' viewBox='0 0 10 6' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Styleguide' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-919.000000, -3891.000000%29' id='Basic-Elements' fill='%2318262C'%3E%3Cg transform='translate%2877.000000, 3029.000000%29'%3E%3Cg id='Basic-forms' transform='translate%280.000000, 757.000000%29'%3E%3Cg id='Select' transform='translate%28470.000000, 57.000000%29'%3E%3Cpolygon id='Triangle' points='377 54 372 48 382 48'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-position: 90% 50%;
  background-position: calc(100% - 1em) 50%;
  background-size: 0.75em auto;
  background-repeat: no-repeat;
  appearance: none;
  border: none;
  padding-right: 3em;
  background-color: var(--color-white);
}

textarea {
  max-height: 20em;
}

input:not([type="radio"], [type="checkbox"], [type="submit"]),
textarea {
  width: 100%;
  border: 0;
}

input[type="radio"],
input[type="checkbox"] {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px !important;
  margin: -1px;
  padding: 0;
  border: 0;
}

input[type="radio"]:focus + label,
input[type="checkbox"]:focus + label {
  box-shadow: inset 0em 0em 0em 2px var(--primary-color);
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  position: relative;
  font-size: 1em;
  padding-left: calc(1em + 1em);
  padding-left: 38px;
  padding-top: 0.3em;
  @mixin responsive-declaration padding-top, 0.7em, 0.2em;
  @mixin responsive-declaration padding-bottom, 0.7em, 0.2em;
  margin-bottom: 0em;
}

input[type="radio"] + label:before,
input[type="radio"] + label:after,
input[type="checkbox"] + label:before,
input[type="checkbox"] + label:after  {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

input[type="radio"] {
  & + label:before {
    border-radius: 1em;
    box-shadow: inset 0em 0em 0em 2px currentColor;
  }

  & + label:after {
    border-radius: 50%;
    box-shadow: inset 0em 0em 0em 2px var(--primary-color);
    opacity: 0;
  }

  &:checked + label:after {
    background-color: var(--color-white);
    box-shadow: inset 0em 0em 0em 6px var(--primary-color);
    opacity: 1;
  }
}

input[type="checkbox"] {
  & + label:before {
    box-shadow: inset 0em 0em 0em 2px currentColor;
    border-radius: 0.15em;
  }

  & + label:after {
background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='12px' height='10px' viewBox='0 0 12 10' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Checkbox-selected' transform='translate%28-4.000000, -5.000000%29' fill='%23FFFFFF'%3E%3Cpolygon id='Page-1' points='14.2341772 5 8.64248101 11.1189694 5.57594937 8.40159604 4 10.335509 7.94936709 13.8264412 8.82278481 14.6 9.62025316 13.7371685 16 6.75530417'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 70% 70%;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: 0;
  }

  &:checked + label:before {
    box-shadow: inset 0em 0em 0em 1em var(--primary-color);
  }

  &:checked + label:after {
    opacity: 1;
  }
}

.input-group {
  display: flex;
}

.input-group > * {
  border-radius: 0;
}

.input-group > *:first-child {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.input-group > *:last-child {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.input-group > input,
.input-group > select {
  padding: 0.6em 2em;
}

.input-group > .button {
  border-radius: 0;
  box-shadow: 0px 0px 0px 2px var(--primary-color);
}

:--not-touch .input-group > .button:--enter {
  box-shadow: 0px 0px 0px 2px var(--light-primary-color);
}

.input-group > .button:first-child {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.input-group > .button:last-child {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

figure {
  margin: 0;
}

.svg {
  position: relative;

  & svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}

.container {
  margin: 0 auto;
  max-width: 70em;
}

.container.container--text {
  margin: 0;
  max-width: 50em;
}

.container.container--search {
  max-width: 30em;
  @mixin responsive-declaration padding-top, 1em, 3em;
  @mixin responsive-declaration padding-bottom, 1em, 3em;
  @mixin responsive-declaration padding-right, 1em, 2em;
  @mixin responsive-declaration padding-left, 1em, 2em;
}

.container.container--side-navigation {
  max-width: 30em;
}

.overflow-x-auto {
  overflow-x: auto;
}

/*Quick hiding for all default drupal stuff*/

/*.contextual-region,*/
.site-highlighted,
.layout-sidebar-first {
  display: none !important;
}
