.header {

}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu-button {
  width: 2em;
  height: 2em;

  @media (--breakpoint-sm) {
    display: none;
  }
}

.header__logo {
}

.header__search {
}

.header__links {
}
