.header {
  position: relative;
  z-index: var(--z-top);
  padding: 0;
  background-color: var(--color-white);
  border-bottom: 2px solid var(--color-lighter-gray);

  @media (--breakpoint-sm) {
    padding-top: 1em;
    padding-right: 1.5em;
    padding-bottom: 1em;
    padding-left: 1.5em;
  }

  @media (--breakpoint-md) {
    padding-top: 1.75em;
    padding-right: 5.5em;
    padding-bottom: 1.75em;
    padding-left: 5.5em;
    border-bottom: none;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu-button {
  padding: 2em;

  @media (--breakpoint-sm) {
    display: none;
  }
}

.header__menu-button .svg {
  width: 2em;
  height: 2em;

  @media (--breakpoint-sm) {
    display: none;
  }
}

.header__menu-button .svg path {
  fill: var(--primary-color);
}

.header__menu-button--navigation .svg path {
  fill: var(--color-white);
}

.header__logo .svg {
  width: 7em;
  height: 4.75em;

  @media (--breakpoint-sm) {
    width: 9em;
  }

  @media (--breakpoint-lg) {
    width: 12em;
  }
}

.header__search {
  display: none;

  @media (--breakpoint-lg) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
  }
}

.header__search-button.button {
  @media (--breakpoint-sm) {
    margin-left: auto;
    margin-right: 1em;
  }

  @media (--breakpoint-lg) {
    display: none;
  }
}

.header__search-button.button .button__icon + * {
  display: none;

  @media (--breakpoint-sm) {
    display: block;
  }
}

.header__sorting-button {
  margin-right: 1em;
}

.header__cta {
  display: none;

  @media (--breakpoint-sm) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.header__links {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8em;
  font-weight: 600;
}

.header__language {
  margin-right: 1.5em;
}

.header__language-link {
  text-transform: uppercase;
}

.header__language-link:not(:last-child):after {
  content: "|";
  margin: 0 0.25em;
  color: var(--primary-color);
}

:--not-touch .header__language-link:--enter,
.header__language-link--active {
  color: var(--color-black);
}
