.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (--breakpoint-lg) {
    min-height: 18em;
    margin-bottom: 4em;
  }

  @media print {
    background-color: transparent;
  }
}

.hero:before {
  content: "";
  background-color: var(--primary-color);
  position: absolute;
  z-index: var(--z-bottom);
  top: 0;
  bottom: 0;
  left: 50%;
  width: 100vw;
  display: block;
  transform: translateX(-50%);
}

.hero > * {
  position: relative;
  z-index: var(--z-middle);
}

.hero a {
  color: var(--color-white);

  @media print {
    background-color: var(--color-black);
  }
}

.hero h1 {
  color: var(--color-white);
  margin-top: 0;
}

/*Hero single heading*/
.hero #block-pagetitle-hero--2 {
  @mixin responsive-declaration padding-top, 1em, 4em;
}

/*Hero image*/
.hero__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.theme--lander .hero__image:before {
  content: "";
  background-color: var(--color-white);
  position: absolute;
  z-index: var(--z-bottom);
  top: 0;
  bottom: 0;
  left: 50%;
  width: 100vw;
  display: block;
  transform: translateX(-50%);
}

.hero .hero__image img {
  @media (--breakpoint-lg) {
    z-index: var(--z-middle);
    position: absolute;
    left: 50%;
    top: 50%;
    width: auto;
    max-width: none;
    height: 100%;
    margin: 0;
    transform: translateY(-50%) translateX(-50%);
  }
}

/*Hero content*/
.hero__content {
  color: var(--color-white);
  @mixin responsive-declaration padding-top, 1em, 4em;
  @mixin responsive-declaration padding-bottom, 1em, 4em;

  @media (--breakpoint-lg) {
    padding-right: 30%;
  }
}

.hero .hero__content > * {
  @mixin responsive-declaration font-size, 1em, 1.35em;
}

.hero .hero__content h1,
.hero .hero__content h2 {
  color: var(--color-white);
}

/*Hero content after image element*/
.hero .hero__image + .hero__content {
  order: -1;
  position: relative;
  z-index: var(--z-top);
  bottom: auto;
  left: auto;
  right: auto;
  background-color: var(--color-dark-blue);
  box-shadow: var(--box-shadow);

  @media (--breakpoint-lg) {
    width: 50%;
    margin-top: 7em;
    @mixin responsive-declaration padding-top, 1em, 3em;
    @mixin responsive-declaration padding-right, 1em, 3em;
    padding-bottom: 0;
    @mixin responsive-declaration padding-left, 1em, 3em;
  }
}

.hero .hero__image + .hero__content:before {
  @media (--breakpoint-lg) {
    z-index: var(--z-under);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: -4em;
    left: 0;
    display: block;
    background-color: var(--color-dark-blue);
    box-shadow: var(--box-shadow);
  }
}

.hero .hero__image + .hero__content > * {
  @mixin responsive-declaration font-size, 1em, 1.25em;
}

.hero .hero__image + .hero__content h1,
.hero .hero__image + .hero__content h2 {
  color: var(--primary-color);
}
