.hero {
  background-color: var(--primary-color);
  color: var(--color-white);
}

.hero a {
  color: var(--color-white);
  text-decoration: underline;
}

.hero__container {
  display: flex;
  flex-direction: column;

  @media (--breakpoint-lg) {
    flex: 0 1 16em;
    flex-direction: row;
  }
}
