.infobox {
  background-color: var(--background-color, var(--color-gray-light));
  @mixin responsive-declaration padding, 1em, 2em;
}

.infobox__title {
  @mixin responsive-declaration font-size, 1.5em, 2em;
}

.infobox--highlighted {
  background-color: var(--color-teal);
  --background-color: var(--color-teal);
}
