.layout {
  position: relative;

  @media (--breakpoint-md) {
    padding-right: 2.5em;
    padding-left: 2.5em;
  }

  @media (--breakpoint-lg) {
    padding-right: 4em;
    padding-left: 4em;
  }
}

.theme-service .layout {
  margin: 0;
  max-width: none;

  @media (--breakpoint-md) {
    padding-right: 0em;
    padding-left: 0em;
  }
}

.layout__container {
  position: relative;
  margin: 0 auto;
  max-width: var(--max-width);
}

.theme-service .layout__container {
  max-width: var(--max-width);
}

.theme-service .layout__container {
  margin: 0;
  max-width: none;
}

.theme-service {
  max-width: none;
  margin: 0;
}

.theme-service .layout--with-sidebar {
  @media (--breakpoint-md) {
    background-color: var(--color-dark-blue);
  }
}

/*Site sidebar*/
.layout__sidebar {
  position: relative;
  z-index: var(--z-middle);
  color: var(--color-white);

  @media (--breakpoint-md) {
    position: absolute;
    top: 0;
    left: 0;
    width: 20em;
    height: 100vh;
    overflow: auto;
  }

  @media (--breakpoint-lg) {
    width: 25.5em;
  }
}

.theme--page:not(.theme-service) .layout__sidebar {
  @media (--breakpoint-lg) {
    width: 19.5em;
  }
}

.layout__sidebar.is-sticky {
  @media (--breakpoint-md) {
    position: fixed;
    left: 2.5em;
  }

  @media (--breakpoint-lg) {
    left: 4em;
  }

  @media (min-width: 100em) {
    left: calc(50% - 40em);
  }
}

.theme-service .layout__sidebar.is-sticky {
  @media (--breakpoint-md) {
    left: auto;
  }
}

.layout__sidebar.is-bottom {
  @media (--breakpoint-md) {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
  }
}

/*Webform content*/
.layout__content {
  position: relative;
  z-index: var(--z-bottom);
  flex: 1 1 100%;
  min-height: 100vh;
  @mixin responsive-declaration padding-top, 1em, 3em;
  @mixin responsive-declaration padding-right, 1em, 4em;
  @mixin responsive-declaration padding-left, 1em, 4em;

  @media (--breakpoint-md) {
    padding-right: 0;
    padding-left: 0;
  }
}

.layout--with-sidebar .layout__content {
  position: relative;
  z-index: var(--z-bottom);
  flex: 1 1 100%;
  min-height: 100vh;
  @mixin responsive-declaration padding-bottom, 1em, 3em;
  @mixin responsive-declaration padding-right, 1em, 4em;
  @mixin responsive-declaration padding-left, 1em, 4em;

  @media (--breakpoint-md) {
    margin-left: 20em;
    padding-right: 0em !important;
  }

  @media (--breakpoint-lg) {
    margin-left: 25.5em;
  }
}

.theme--page:not(.theme-service) .layout--with-sidebar .layout__content {
  max-width: 45em;

  @media (--breakpoint-lg) {
    margin-left: 19.5em;
  }
}

.theme-service .layout--with-sidebar .layout__content {
  background-color: var(--color-lighter-gray);
  @mixin responsive-declaration padding-right, 1em, 4em;
}




/*Temp fix*/
.theme-service.theme-service--fhrs .layout__container > .layout__content {
  padding-top: 0!important;
  padding-left: 0!important;
  padding-right: 0!important;
}
