/*Liftup and manual promo styles*/

.promo-list,
.liftup-list {
  position: relative;
}

.promo-list:before,
.liftup-list:before {
  content: "";
  background-color: var(--color-purple);
  position: absolute;
  z-index: var(--z-bottom);
  top: 0;
  bottom: 0;
  left: 50%;
  width: 100vw;
  display: block;
  transform: translateX(-50%);
}

.liftup-list.liftup-list--information:before {
  background-color: var(--color-lighter-gray);
}

.theme--content-type-alerts .promo-list:before,
.theme--content-type-news .promo-list:before {
  background-color: var(--color-white);
}

.layout--with-sidebar .promo-list:before,
.theme--service .promo-list:before,
.layout--with-sidebar .liftup-list:before,
.theme--service .liftup-list:before {
  display: none;
}

.paragraph--type-manual-promo,
.paragraph--type-liftups {
  position: relative;
  z-index: var(--z-middle);
  @mixin responsive-declaration padding-top, 1em, 4em;
  @mixin responsive-declaration padding-bottom, 1em, 4em;
}

.paragraph--type-manual-promo > h2,
.paragraph--type-liftups > h2 {
  color: var(--color-white);
}

.liftup-list.liftup-list--information .paragraph--type-liftups > h2,
.theme--help-centre .paragraph--type-liftups > h2 {
  color: var(--color-black);
}

.views-row-wrapper,
.promo,
.liftup {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  margin-left: -1em;
  @mixin responsive-declaration margin-left, -1em, -1.5em;
}

.views-row-wrapper > .views-row,
.promo__item,
.liftup__item {
  @mixin responsive-declaration margin-left, 1em, 1.5em;
  @mixin responsive-declaration margin-bottom, 1em, 1.5em;
  flex: 1 1 1;
  width: 100%;

  @media (--breakpoint-sm) {
    flex: 1 1 0;
    max-width: 30em;
    max-width: calc(50% - 1.5em);
    min-width: 20em;
    width: auto;
  }

  @media (--breakpoint-lg) {
    max-width: calc(33% - 1.5em);
  }
}

.views-row-wrapper > .views-row,
.theme--content-type-alerts .promo__item,
.theme--content-type-news .promo__item,
.liftup-list.liftup-list--information .liftup__item {
  @media (--breakpoint-xs) {
    min-width: 11em;
    max-width: calc(50% - 1.5em);
  }

  @media (--breakpoint-lg) {
    max-width: calc(25% - 1.5em);
  }
}
