.liftup {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  margin-left: -1em;
  @mixin responsive-declaration margin-left, -1em, -1.5em;
}

.liftup__item {
  @mixin responsive-declaration margin-left, 1em, 1.5em;
  @mixin responsive-declaration margin-bottom, 1em, 1.5em;
  flex: 0 1 16em;
}
