.navigation {
  background-color: var(--color-dark-blue);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);

  @media (--breakpoint-sm) {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    transform: none;
  }

  &.is-open {
    transform: translateX(0%);
  }
}

.navigation__container {
  @media (--breakpoint-sm) {
    display: flex;
    justify-content: center;
  }
}

.navigation__container--mobile {
  @media (--breakpoint-sm) {
    display: none;
  }
}

.navigation__item {
  
}

.navigation__link {
  display: block;
  padding: 1em 1em;
  text-transform: uppercase;
  color: var(--color-white);
}

:--not-touch .navigation__link:--enter {
  background-color: var(--color-teal-light);
  color: var(--primary-color);
}
