.theme--news-alerts .news-alerts-listing form {
  @mixin responsive-declaration margin-bottom, 1em, 3em;
}

.theme--news-alerts .news-alerts-listing .views-row {
  display: flex;
  border-top: 2px solid var(--color-lighter-gray);
  padding: 1em 0.5em;
}

.theme--news-alerts .news-alerts-listing .item__meta {
  flex: 0 0 10em;
}

.theme--news-alerts .news-alerts-listing .item__content {
}

.theme--news-alerts .news-alerts-listing .item__date {
  color: var(--color-gray);
  margin-bottom: 0.5em;
}

.theme--news-alerts .news-alerts-listing .item__type {
  text-transform: uppercase;
  color: var(--color-red);
}

.theme--news-alerts .news-alerts-listing .pager {
  float: right;
  @mixin responsive-declaration padding-top, 2em, 5em;
}

.theme--news-alerts .news-alerts-listing .pager ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.theme--news-alerts .news-alerts-listing .pager ul > li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.theme--news-alerts .news-alerts-listing .pager ul > li > a {
  text-decoration: underline;
  padding: 0.5em;
}

:--not-touch .theme--news-alerts .news-alerts-listing .pager ul > li > a:--enter {
  color: var(--light-primary-color);
}

.theme--news-alerts .news-alerts-listing footer {
  font-weight: 600;
  @mixin responsive-declaration padding-top, 2em, 5em;
}
