.promo-list {
  position: relative;
}

.promo-list:before {
  content: "";
  background-color: var(--color-purple);
  position: absolute;
  z-index: var(--z-bottom);
  top: 0;
  bottom: 0;
  left: 50%;
  width: 100vw;
  display: block;
  transform: translateX(-50%);
}

.layout--with-sidebar .promo-list:before,
.theme-service .promo-list:before {
  display: none;
}

.paragraph--type-manual-promo {
  position: relative;
  z-index: var(--z-middle);
  @mixin responsive-declaration padding-top, 1em, 4em;
  @mixin responsive-declaration padding-bottom, 1em, 4em;
}

.paragraph--type-manual-promo > h2 {
  color: var(--color-white);
}

.promo {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  margin-left: -1em;
  @mixin responsive-declaration margin-left, -1em, -1.5em;
}

.promo__item {
  @mixin responsive-declaration margin-left, 1em, 1.5em;
  @mixin responsive-declaration margin-bottom, 1em, 1.5em;
  flex: 1 1 1;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  transition: box-shadow var(--transition-enter);
  color: var(--color-black);
  width: 100%;

  @media (--breakpoint-sm) {
    flex: 1 1 0;
    max-width: 30em;
    max-width: calc(50% - 1.5em);
    min-width: 20em;
    width: auto;
  }

  @media (--breakpoint-lg) {
    max-width: calc(33% - 1.5em);
  }
}

:--not-touch .node-teaser:--enter {
  box-shadow: var(--box-shadow-active);
}

.promo__item .field__field_title {
  @mixin responsive-declaration font-size, 1em, 1.25em;
  font-weight: 700;
  margin-bottom: 1em;
  color: var(--primary-color);
}

:--not-touch .promo__item:--enter .field__field_title {
  color: var(--light-primary-color);
}

.promo__item .field__field_image {
  position: relative;
  overflow: hidden;
  height: 8em;

  @media (--breakpoint-sm) {
    height: 9em;
  }

  @media (--breakpoint-md) {
    height: 10em;
  }

  @media (--breakpoint-lg) {
    position: static;
    overflow: visible;
    height: auto;
  }
}

.promo__item .field__field_image img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);

  @media (--breakpoint-lg) {
    position: static;
    transform: none;
  }
}

.promo__item .teaser__content {
  @mixin responsive-declaration padding, 1em, 2em;
}
