.site-navigation {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);

  @media (--breakpoint-sm) {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    transform: none;
  }

  &.is-open {
    transform: translateX(0%);
  }
}

.site-navigation__container {
  @media (--breakpoint-sm) {
    display: flex;
  }
}

.site-navigation__container--mobile {
  padding: 1em;

  @media (--breakpoint-sm) {
    display: none;
  }
}

.site-navigation__item {
  display: block;
  padding: 1em;

  &:last-child {
    margin-left: auto;
  }
}

:--not-touch .site-navigation__item:--enter {
  background-color: var(--color-teal-light);
  color: var(--color-black);
}
