.site-promo {
  overflow: hidden;
  @mixin responsive-declaration padding-top, 1em, 4em;
  @mixin responsive-declaration padding-right, 1em, 2em;
  @mixin responsive-declaration padding-bottom, 1em, 4em;
  @mixin responsive-declaration padding-left, 1em, 2em;
}

.site-promo__title {
  @mixin responsive-declaration font-size, 1.5em, 3em;
}

.site-promo__list {
  @supports(display: flex) {
    @media (--breakpoint-sm) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  @supports(display: grid) {
    @mixin responsive-declaration grid-gap, 1em, 2em;

    @media (--breakpoint-xxs) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (--breakpoint-md) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  & > * {
    @media (--breakpoint-sm) {
      float: left;
      width: 33.3333333%;
    }

    @media (--breakpoint-md) {
      width: 25%;
    }

    @supports(display: grid) {
      @media (--breakpoint-sm) {
        width: auto;
      }
    }
  }
}
