.table {
  display: flex;
  flex-flow: column nowrap;
}

.table__row {
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  background-color: var(--color-lighter-gray);
  margin-bottom: 1em;

  @media (--breakpoint-md) {
    flex-flow: row nowrap;
    margin-bottom: 0;
  }

  &:nth-child(odd) {
    @media (--breakpoint-md) {
      background-color: transparent;
    }
  }
}

.table__row--header {
  background-color: var(--primary-color) !important;
  color: var(--color-white);
  display: none;
  text-transform: uppercase;

  @media (--breakpoint-md) {
    display: flex;
  }
}

.table__item {
  flex: 1 1 auto;
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
  @mixin responsive-declaration padding-right, 1em, 2em;
  @mixin responsive-declaration padding-left, 1em, 2em;

  @media (--breakpoint-xs) {
    display: flex;
  }

  @media (--breakpoint-md) {
    flex: 1 1 0;
  }

  &:before {
    content: attr(data-header);
    display: block;
    width: 100%;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 1em;
    margin-bottom: 1em;

    @media (--breakpoint-xs) {
      width: 7em;
      flex: 0 0 7em;
    }

    @media (--breakpoint-sm) {
      width: 10em;
      flex: 0 0 10em;
    }

    @media (--breakpoint-md) {
      display: none;
    }
  }
}

.table__item.table__item--large {
  @media (--breakpoint-md) {
    @mixin responsive-declaration flex-grow, 1.2, 2;
  }
}

.table__content {
  font-size: 1em;

  & h3 {
    font-size: 1.25em;
    color: var(--primary-color);

    @media (--breakpoint-xs) {
      font-size: 1em;
    }
  }
}

.table__mobile-header {
  display: none;
}
