.toggle-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--primary-color);
}

.toggle-button__item {
  text-align: left;
}

.toggle-button__item.toggle-button__item--align-right {
  margin-left: auto !important;
  text-align: center;

  & + .toggle-button__item--icon {
    margin-left: 0 !important;
  }
}

.toggle-button__item.toggle-button__item--icon {
  position: relative;
  margin-left: auto !important;
  width: 12px;
  height: 12px;
  flex: 0 0 auto;

  & svg path {
    fill: currentColor;
  }

  & .toggle-button__fallback-icon {
    position: absolute;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='10px' height='6px' viewBox='0 0 10 6' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Styleguide' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-919.000000, -3891.000000%29' id='Basic-Elements' fill='%23fff'%3E%3Cg transform='translate%2877.000000, 3029.000000%29'%3E%3Cg id='Basic-forms' transform='translate%280.000000, 757.000000%29'%3E%3Cg id='Select' transform='translate%28470.000000, 57.000000%29'%3E%3Cpolygon id='Triangle' points='377 54 372 48 382 48'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 100% auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
}

:--not-js .toggle-button__item.toggle-button__item--icon {
  display: none;
}

.toggle-button__item.toggle-button__item--width-2 {
  width: 2em;
  flex: 0 0 auto;
}

.toggle-button__item.toggle-button__item--width-3 {
  width: 3em;
  flex: 0 0 auto;
}

:--not-js .toggle-button,
.toggle-button.is-open {
  & .toggle-button__item--icon {
    transform: rotate(180deg);
  }
}

:--not-js .toggle-button.toggle-button--open-background,
.toggle-button.toggle-button--open-background.is-open {
  background-color: var(--primary-color) !important;
  color: var(--color-white);
}

.toggle-content {
  display: none;
}

.toggle-content.toggle-content--only-mobile {
  display: none;

  @media (--breakpoint-md) {
    display: inherit;
  }
}

:--not-js .toggle-content,
.toggle-content.is-open {
  display: inherit;
}
