{# FHRS Ratings explanations template. #}
<div class="ratings__content">
  <header class="ratings__header">
    {{ backlink }}
  </header>


  <table>
    {{ ratings }} {# See fsa-ratings-meanings-item.html.twig for each rating item #}
  </table>

  <p>{{ paragraph_1 }}</p>

  <p>{{ paragraph_2 }}</p>
</div>
