@import "../../helper/helper";
@import "../../helper/custom-property";

[class="document__menu__heading"]{
  @mixin reset-font-style;

  font-weight: 600;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

[class="document__menu__list"]{
  list-style: none;
  padding: 0;
  @media (--breakpoint-md) {
    display: block;
    padding-top: 1em;
  }
  li {
    margin-bottom: 1em;
    a {
      text-decoration: underline;
      display: block;
      color: var(--primary-color);
      &:hover {
         color: var(--color-darker-teal);
       }

    }
  }

}
