{#
/**
 * @file
 * FSA temporary messaging block.
 */
#}
<div class="temporary-messaging__wrapper{% if style %} temporary-messaging__wrapper--{{style}}{% endif %}">
  <div class="temporary-messaging">
    <i class="temporary-messaging__icon"></i>
    <p>{{ message }}</p>
  </div>
</div>
