@import "../../core/helper";
@import "../../core/custom-property";

.breadcrumb {
  position: relative;
  z-index: var(--z-top);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  padding-top: 1em;
  padding-bottom: 1em;

  @media (--breakpoint-lg) {
    min-height: 3.5em;
  }
}

.breadcrumb__item {
  position: relative;
  font-size: 0.8em;
  font-weight: 400;
  text-align: left;
  padding-right: 2em;
  color: var(--color-white);
  @mixin responsive-declaration margin, 0.5em, 0em;

  @media (--breakpoint-sm) {
    text-align: center;
    font-weight: 600;
    display: flex;
    align-items: center;
  }

  @media (--breakpoint-lg) {
    text-align: left;
    font-weight: 400;
    display: inline-block;
  }
}

.breadcrumb__item:not(:last-child):after {
  content: "/";
  position: absolute;
  top: 50%;
  right: 0;
  width: 2em;
  text-align: center;
  color: var(--color-light-gray);
  transform: translateY(-50%);
}

.breadcrumb__link {
  text-decoration: underline;
}

:--not-touch .breadcrumb__link:--enter {

}
