@import "../../core/helper";
@import "../../core/custom-property";

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @mixin responsive-declaration padding-bottom, 1em, 4em;

  @media (--breakpoint-lg) {
    min-height: 18em;
    padding-bottom: 0;
  }

  @media print {
    background-color: transparent;
  }
}

/* .theme--lander.theme--news-alerts .hero {
  text-align: center;
} */

.theme--service .hero {
  display: none;
}

.hero:before {
  content: "";
  background-color: var(--primary-color);
  position: absolute;
  z-index: var(--z-bottom);
  top: 0;
  bottom: 0;
  left: 50%;
  width: 100vw;
  display: block;
  transform: translateX(-50%);
}

.hero > * {
  position: relative;
  z-index: var(--z-middle);
  display: flex;
  flex-direction: column;

  @media (--breakpoint-lg) {
    display: block;
  }
}

.hero .button {
  position: absolute;
  @mixin responsive-declaration bottom, 0em, 2.5em;
  left: 0;
  display: inline-block;
  background-color: var(--color-white);
  color: var(--dark-primary-color);
  transition: box-shadow var(--transition-enter-fast);
  font-size: 0.8em;

  @media (--breakpoint-xs) {
    font-size: 1em;
  }
}

:--not-touch .hero .button:--enter {
  background-color: var(--color-white);
  color: var(--dark-primary-color);
  box-shadow: var(--box-shadow-active);
}

.hero a {
  color: var(--color-white);

  @media print {
    background-color: var(--color-black);
  }
}

.hero h1 {
  color: var(--color-white);
  margin-top: 0;
}

/*Hero single heading*/
.hero #block-pagetitle-hero--2 {
  @mixin responsive-declaration padding-top, 1em, 4em;
}

/*Hero image*/
.hero__image {
  order: 100;
  display: none;

  @media (--breakpoint-lg) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.theme--lander .hero__image:before {
  @media (--breakpoint-lg) {
    content: "";
    background-color: var(--color-white);
    position: absolute;
    z-index: var(--z-bottom);
    top: 0;
    bottom: 0;
    left: 50%;
    width: 100vw;
    display: block;
    transform: translateX(-50%);
  }
}

.hero .hero__image img {
  @media (--breakpoint-lg) {
    z-index: var(--z-middle);
    position: absolute;
    left: 50%;
    top: 50%;
    width: auto;
    max-width: none;
    height: 100%;
    margin: 0;
    transform: translateY(-50%) translateX(-50%);
  }
}

/*Hero content*/
.hero__content {
  color: var(--color-white);
  @mixin responsive-declaration padding-top, 1em, 2.5em;
  @mixin responsive-declaration padding-bottom, 1em, 4em;

  @media (--breakpoint-lg) {
    width: 50%;
  }
}

/* .theme--lander.theme--news-alerts .hero__content {
  @media (--breakpoint-lg) {
    width: 100%;
  }
} */

.hero .hero__content > * {
  @mixin responsive-declaration font-size, 1em, 1.35em;
}

.hero .hero__content h1,
.hero .hero__content h2 {
  color: var(--color-white);
}

/*Hero content after image element*/
.hero .hero__image + .hero__content {
  position: relative;
  z-index: var(--z-top);
  bottom: auto;
  left: auto;
  right: auto;
  box-shadow: none;
  background-color: var(--primary-color);

  @media (--breakpoint-lg) {
    box-shadow: var(--box-shadow);
    background-color: var(--color-dark-blue);
    width: 50%;
    margin-top: 1em;
    margin-bottom: 3em;
    @mixin responsive-declaration padding-top, 1em, 3em;
    @mixin responsive-declaration padding-right, 1em, 3em;
    @mixin responsive-declaration padding-left, 2em, 4em;
    @mixin responsive-declaration padding-left, 1em, 3em;
  }
}

.hero .hero__image + .hero__content:before {

  @media (--breakpoint-lg) {
    z-index: var(--z-under);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0em;
    left: 0;
    display: block;
    background-color: var(--color-dark-blue);
    box-shadow: var(--box-shadow);
  }
}

.hero .hero__image + .hero__content > * {
  @mixin responsive-declaration font-size, 1em, 1.25em;
}

.hero .hero__image + .hero__content h1,
.hero .hero__image + .hero__content h2 {
  color: var(--color-white);
}

.hero .hero__image + .hero__content p {
  color: var(--color-light-gray);
}
