<div class="promo-listing">
    <div class="promo-listing__item">
       <div>
          <a href="#" rel="bookmark" class="promo promo--related">
             <div class="promo__content">
                <header class="promo__header">
                   <h4 class="promo__heading">Register a new food business</h4>
                </header>
                <div class="promo__intro">
                   <div class="field field__body">
                      <p>You should register your food business&nbsp;at your local authority at least 28 days before opening. The&nbsp;registration is free.</p>
                      <p>If you have more than one premises, you will need to register all of them.</p>
                   </div>
                </div>
             </div>
          </a>
       </div>
    </div>

    <div class="promo-listing__item">
       <div>
          <a href="#" rel="bookmark" class="promo promo--related">
             <div class="promo__content">
                <header class="promo__header">
                   <h4 class="promo__heading">Applying for approval of a meat establishment</h4>
                </header>
                <div class="promo__intro">
                   <div class="field field__field_intro">How to apply for approval of a slaughterhouse, cutting plant and game handling establishment.</div>
                </div>
             </div>
          </a>
       </div>
    </div>

    <div class="promo-listing__item">
       <div>
          <a href="#" rel="bookmark" class="promo promo--related">
             <div class="promo__content">
                <header class="promo__header">
                   <h4 class="promo__heading">Applying for approval of a meat establishment</h4>
                </header>
                <div class="promo__intro">
                   <div class="field field__field_intro">How to apply for approval of a slaughterhouse, cutting plant and game handling establishment.</div>
                </div>
             </div>
          </a>
       </div>
    </div>
 </div>