@import "../../core/helper";
@import "../../core/custom-property";

.container {
  margin: 0 auto;
  max-width: var(--max-width);

  &.container--content {
    margin: 0 auto;
    max-width: var(--content-max-width);
    padding-right: 1em;
    padding-left: 1em;
  
    @media (--breakpoint-lg) {
      padding-right: 0em;
      padding-left: 0em;
    }
  }

  &.container--small {
    max-width: 39em;
  }

  &.container--side-navigation {
    max-width: 30em;
  }
}

.layout {
  background-color: var(--color-lighter-gray);

  @media (--breakpoint-md) {
    padding-right: 2.5em;
    padding-left: 2.5em;
  }

  @media (--breakpoint-lg) {
    padding-right: 4em;
    padding-left: 4em;
  }
}

.layout__container {
  position: relative;
  margin: 0 auto;
  max-width: var(--max-width);
  background-color: var(--color-white);
}

.layout__container--main {

  .theme--news-alerts & {
    padding-top: 0; 
  }
}

/*Site sidebar*/
.layout__sidebar {
  position: relative;
  z-index: var(--z-middle);

  @media (--breakpoint-md) {
    position: absolute;
    top: 0;
    left: 0;
    width: 17em;
    height: 100vh;
    overflow: auto;
  }

  @media (--breakpoint-lg) {
    width: 18.5em;
  }

  &.is-sticky {
    @media (--breakpoint-md) {
      position: fixed;
      left: 2.5em;
    }
  
    @media (--breakpoint-lg) {
      left: 4em;
    }
  
    @media (min-width: 100em) {
      left: calc(50% - 40em);
    }
  }

  &.is-bottom {
    @media (--breakpoint-md) {
      position: absolute;
      top: auto;
      bottom: 0;
      left: 0;
    }
  }

  /* .theme--news-alerts &,
  .theme--page:not(.theme--service) & {
    @media (--breakpoint-lg) {
      width: 19.5em;
    }

    @media print {
      display: none;
    }
  } */

  /* Secondary sidebar */
  &.layout__sidebar--secondary {
    left: auto;
    right: 0;

    &.is-sticky {
      @media (--breakpoint-md) {
        position: fixed;
        left: auto;
        right: 2.5em;
      }
    
      @media (--breakpoint-lg) {
        left: auto;
        right: 4em;
      }
    
      @media (min-width: 100em) {
        left: auto;
        right: calc(50% - 40em);
      }
    }
  
    &.is-bottom {
      @media (--breakpoint-md) {
        position: absolute;
        top: auto;
        left: auto;
        right: 0;
      }
    }
  }
}

/*Webform content*/
.layout__content {
  position: relative;
  z-index: var(--z-bottom);
  flex: 1 1 100%;
  @mixin responsive-declaration padding-right, 1em, 4em;
  @mixin responsive-declaration padding-left, 1em, 4em;

  @media print {
    margin: 0 auto;
  }

  .layout--with-sidebar & {
    position: relative;
    z-index: var(--z-bottom);
    flex: 1 1 100%;
    min-height: 100vh;
    @mixin responsive-declaration padding-bottom, 1em, 3em;
    @mixin responsive-declaration padding-right, 1em, 4em;
    @mixin responsive-declaration padding-left, 1em, 4em;
  
    @media (--breakpoint-md) {
      margin-left: 17em;
      padding-left: 0em;
    }
  
    @media (--breakpoint-lg) {
      margin-left: 18.5em;
    }
  }

  body:not(.theme--service, .theme--lander) .layout.layout--with-no-sidebar & {
    max-width: var(--content-max-width);
    margin: 0 auto;
  }
  
  .theme--term .layout--with-sidebar &,
  .theme--news-alerts .layout--with-sidebar &,
  .theme--page:not(.theme--service) .layout--with-sidebar &,
  .theme--subscribe .layout--with-sidebar &,
  .theme--consultation .layout--with-sidebar &,
  .theme--research_project .layout--with-sidebar & {
    max-width: var(--content-max-width);
  }

  .layout--with-secondary-sidebar & {
    @mixin responsive-declaration padding-left, 1em, 4em;

    @media (--breakpoint-md) {
      margin-left: 0em !important;
      margin-right: 17em;
    }
  
    @media (--breakpoint-lg) {
      margin-left: 0em !important;
      margin-right: 18.5em;
    }
  }
}

.layout__content--main {
  @mixin responsive-declaration padding-top, 1em, 2em;
  @mixin responsive-declaration padding-bottom, 1em, 2em;

  /* .theme--subscribe &,
  .theme--page &,
  .theme--alert & {
    @mixin responsive-declaration padding-top, 1em, 4em;
  } */

  .theme--lander &,
  .theme--fhrs & {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
  }

  .theme--help-centre & {
    max-width: var(--max-width-medium);
    margin: 0 auto;
  }

  .theme--search & {
    max-width: var(--max-width-medium) !important;
  }
}

.overflow-x-auto {
  overflow-x: auto;
}