{#
/**
 * @file
 * Vield paragraph block template to display Related link promo
 *
 * NB! Template node--related-link-promo.html.twig uses the
 * same markup to display related link with content pulled from referred node.
 *
 * @see template_preprocess_field()
 */
#}
{% for item in items %}
{# @todo: Oskari note I used content promo field class, reuse something else or create new classes to make more sense with nanming #}
<a href="{{ item.content.field_link|render|striptags|trim }}" rel="bookmark" class="promo promo--related">
  <div class="promo__content">
    <header class="promo__header">
      <h4 class="promo__heading">{{ item.content.field_title[0] }}</h4>
    </header>

    {{ item.content|without('field_title', 'field_link') }}
  </div>
</a>
{% endfor %}
