{#
/**
 * @file
 * FSA theme override for custom title field on paragraph.
 *
 * @see fsa_lander_preprocess_field()
 */
#}
<div{{ attributes }}>
    <h2{{ title_attributes }}>{{ label }}</h2>
</div>

