* {
  box-sizing: border-box;
}

::selection {

}

html {
  font-family: var(--font-family-content);
  font-size: var(--font-size-base);
  letter-spacing: 0.015em;
  @mixin responsive-declaration font-size, 100%, var(--font-size-base);
  @mixin responsive-declaration line-height, 1.7, 1.6;
}

html.is-fixed {
  position: fixed;

  @media (--breakpoint-sm) {
    position: static;
  }
}

body {
  margin: 0;

  @media (--breakpoint-md) {
    flex-flow: row nowrap;
    align-items: center;
  }

  &:after {
    content: "xs";
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
    word-wrap: normal;

    @media (--breakpoint-sm) {
      content: "sm";
    }
  
    @media (--breakpoint-md) {
      content: "md";
    }
  }
}

.site {
  transition: transform var(--transition-enter);
  position: relative;
  
  @media (--breakpoint-sm) {
    overflow: hidden;
    transition: none;
  }
}

.site.is-moved {
  transform: translate(20%);

  @media (--breakpoint-sm) {
    transform: none;
  }
}

.theme--help-centre .field__body {
  @mixin responsive-declaration padding-top, 1em, 2em;
  @mixin responsive-declaration padding-bottom, 1em, 2em;
}

/*a:not(.block-link) {
  color: var(--primary-color);
  text-decoration: underline;
  outline: 3px solid transparent;
  outline-offset: 0;
  transition:
    color var(--transition-enter-fast),
    outline var(--transition-enter-fast),
    background-color var(--transition-enter-fast);
}

a:not(.block-link):focus {
  background-color: var(--color-yellow);
  outline: 3px solid var(--color-yellow);
  color: var(--color-black);
}

:--not-touch a:not(.block-link):hover:--enter {
  text-decoration: underline;
  outline: 3px solid transparent;
  color: var(--light-primary-color);
}

a.block-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

:--not-touch a.block-link:--enter {
  text-decoration: none;
}

a.block-link:focus {
  background-color: var(--color-light-yellow);
  outline: 3px solid var(--color-yellow);
  color: var(--color-black);
}*/

/*External links*/
/*a[href*="//"]:not([href*="local.food.gov.uk"]),
a[href*="//"]:not([href*="fsa.stage.wunder.io"]) {
  color: var(--color-black);
  text-decoration: underline;
}

a[href*="//"]:not([href*="local.food.gov.uk"]):after,
a[href*="//"]:not([href*="fsa.stage.wunder.io"]):after  {
  content: '';
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 46.1 %2844463%29 - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Eext-link-icon%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='FSA-BG-Elements' transform='translate%28-616.000000, -8608.000000%29' fill='%2300A39B'%3E%3Cg id='Content-example' transform='translate%28271.000000, 8369.000000%29'%3E%3Cg id='ext-link-icon' transform='translate%28345.000000, 239.000000%29'%3E%3Cpath d='M11.6767677,6.90909091 C11.2969293,6.90909091 10.989899,7.23490909 10.989899,7.63636364 L10.989899,13.8181818 C10.989899,14.2181818 10.6808081,14.5454545 10.3030303,14.5454545 L2.06060606,14.5454545 C1.68282828,14.5454545 1.37373737,14.2181818 1.37373737,13.8181818 L1.37373737,5.09090909 C1.37373737,4.69090909 1.68282828,4.36363636 2.06060606,4.36363636 L7.72727273,4.36363636 L7.72727273,4.36218182 C8.1029899,4.35781818 8.40658586,4.03490909 8.40658586,3.63636364 C8.40658586,3.23781818 8.1029899,2.91490909 7.72727273,2.91054545 L7.72727273,2.90909091 L1.37373737,2.90909091 C0.618181818,2.90909091 0,3.56363636 0,4.36363636 L0,14.5454545 C0,15.3454545 0.618181818,16 1.37373737,16 L10.989899,16 C11.7454545,16 12.3636364,15.3454545 12.3636364,14.5454545 L12.3636364,7.63636364 C12.3636364,7.23490909 12.0566061,6.90909091 11.6767677,6.90909091' id='Fill-1'%3E%3C/path%3E%3Cpath d='M15.269314,0 C15.2685826,0 15.2678512,0 15.2671197,0 L10.880078,0 C10.4777984,0 10.1486606,0.330092265 10.1486606,0.733538367 C10.1486606,1.13698447 10.4777984,1.46707673 10.880078,1.46707673 L13.4788041,1.46707673 L7.48556974,7.47622304 C7.20177978,7.76156947 7.20177978,8.22809987 7.48556974,8.51271275 C7.77009112,8.79879272 8.23600402,8.79879272 8.51979398,8.51271275 L14.5378966,2.47715907 L14.5378966,5.13476857 C14.5378966,5.53821467 14.8670344,5.86830694 15.269314,5.86830694 C15.6715936,5.86830694 16,5.53821467 16,5.13476857 L16,0.733538367 C16,0.330092265 15.6715936,0 15.269314,0' id='Fill-3'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  width: 1em;
  height: 1em;
}*/

/*:--not-touch a[href*="//"]:not([href*="local.food.gov.uk"]):--enter,
:--not-touch a[href*="//"]:not([href*="fsa.stage.wunder.io"]):--enter {
  color: var(--primary-color);
}*/


.page-title {
  color: var(--primary-color);
}

div.page-title {
  @mixin responsive-declaration padding-bottom, 1em, 2em;
}

/*Feed icon*/
a.feed-icon {
  display: inline-block;
  margin-top: 2em;
  font-family: var(--font-family-content);
  letter-spacing: 0.02em;
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--color-white);
  border: 0;
  border-radius: 2em;
  padding: 0.6em 2.5em;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

:--not-touch a.feed-icon:--enter {
  background-color: var(--light-primary-color);
  color: var(--color-white) !important;
}

/* Logo */
.logo {
  max-width: 8.5em;
  height: 4em;
  width: 100%;
}
