* {
  box-sizing: border-box;
}

::selection {

}

html {
  font-family: var(--font-family-content);
  font-size: var(--font-size-base);
  letter-spacing: 0.015em;
  @mixin responsive-declaration font-size, 100%, var(--font-size-base);
  @mixin responsive-declaration line-height, 1.7, 1.6;
}

html.is-fixed {
  position: fixed;

  @media (--breakpoint-sm) {
    position: static;
  }
}

body {
  margin: 0;

  @media (--breakpoint-md) {
    flex-flow: row nowrap;
    align-items: center;
  }

  &:after {
    content: "xs";
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
    word-wrap: normal;

    @media (--breakpoint-sm) {
      content: "sm";
    }
  
    @media (--breakpoint-md) {
      content: "md";
    }
  }
}

.site {
  transition: transform var(--transition-enter);
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  
  @media (--breakpoint-sm) {
    overflow: hidden;
    transition: none;
  }
}

.site.is-moved {
  transform: translate(20%);

  @media (--breakpoint-sm) {
    transform: none;
  }
}

/*Feed icon*/
a.feed-icon {
  display: inline-block;
  margin-top: 2em;
  font-family: var(--font-family-content);
  letter-spacing: 0.02em;
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--color-white);
  border: 0;
  border-radius: 2em;
  padding: 0.6em 2.5em;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

:--not-touch a.feed-icon:--enter {
  background-color: var(--light-primary-color);
  color: var(--color-white) !important;
}

/* Logo */
.logo {
  max-width: 8.5em;
  height: 4em;
  width: 100%;
}
