@import "../../core/helper";
@import "../../core/custom-property";

.views-result-total,
.search-keyword {
  background-color: var(--color-lighter-gray);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  @mixin responsive-declaration margin-right, -1em, -4em;
  @mixin responsive-declaration margin-left, -1em, -4em;
}

.views-result-total {
  font-family: var(--font-family-heading);
  @mixin responsive-declaration font-size, 1.25em, 1.75em;
  padding-bottom: 0.5em;
}

.views-result-total__number {
  font-weight: 700;
  margin-right: 0.25em;
}

.views-result-total__keyword {
  font-weight: 700;
  margin-left: 0.25em;

  &:before {
    content: "“";
  }

  &:after {
    content: "”";
  }
}

.search-keyword {
  input {
    width: 100%;
  }

  .form-item {
    margin-bottom: 0;

    @media (--breakpoint-md) {
      margin-bottom: 2em;
    }
  }
}

/* Sidebar */
.search__filter {

}

/* Search block */
.search-block {
  background-color: transparent;
  margin: 0;
  padding: 0;

  .field,
  .form-item {
    margin-bottom: 0 !important;
  }

  & > form {
    display: flex;

    & > * {
      flex: 0 0 0;
      border-radius: 0;

      &:first-child {
        input,
        select,
        .button {
          border-top-left-radius: 100px;
          border-bottom-left-radius: 100px;
        }
      }

      &:last-child {
        input,
        select,
        .button {
          border-top-right-radius: 100px;
          border-bottom-right-radius: 100px;
        }
      }
    }

    input:not([type="submit"]),
    select {
      display: none;
      background-color: var(--color-lighter-gray);
      box-shadow: 0px 0px 0px 1px var(--color-light-gray);
      padding: 0.6em 2em;

      @media (--breakpoint-md) {
        display: block;
        width: 12em;
      }

      @media (--breakpoint-lg) {
        width: 20em;
      }
    }
  
    .button {
      padding-right: 1em;
      padding-left: 1em;
      border-radius: 0;
      box-shadow: 0px 0px 0px 1px var(--dark-primary-color);
      color: var(--dark-primary-color);
  
      :--not-touch &:--enter {
        box-shadow: 0px 0px 0px 1px var(--light-primary-color);
      }

      @media (--breakpoint-sm) {
        position: relative;
        width: 4em;
      }
    
      &:after {
        @media (--breakpoint-sm) {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='18px' height='18px' viewBox='0 0 18 18' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 47.1 %2845422%29 - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Ehome-icon%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Navigation' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Header-1440-open' transform='translate%28-80.000000, -161.000000%29' fill='%23FFFFFF'%3E%3Cg id='content-links' transform='translate%280.000000, 140.000000%29'%3E%3Cpath d='M89,21 L80,27.5853659 L80,39 L86.075,39 L86.075,34.3902439 C86.075,32.8090756 87.3793025,31.5365854 89,31.5365854 C90.6206975,31.5365854 91.925,32.8090756 91.925,34.3902439 L91.925,39 L98,39 L98,27.5853659 L89,21 Z' id='home-icon'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          background-position: 50% 50%;
          background-size: 1em 1em;
          background-repeat: no-repeat;
        }
      }

      &:first-child {
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;

        @media (--breakpoint-md) {
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
        }
      }

      &:last-child {
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;

        @media (--breakpoint-md) {
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
        }
      }
    }
  }
}

.search__sidebar-header {
  background-color: var(--dark-primary-color);
  background-image: var(--icon-dropdown-down-white);
  background-position: right 1em top 50%;
  background-repeat: no-repeat;
  background-size: 0.5em auto;
  padding-right: 2.5em;
  color: var(--color-white);
  display: block;
  width: 100%;
  @mixin reset-font-style;
  font-weight: 600;
  padding: 1em;
  transition:
    backround-color var(--transition-enter);

  &.is-open {
    background-color: var(--darker-primary-color);

    @media (--breakpoint-md) {
      background-color: var(--dark-secondary-color);
      background-image: none;
    }
  }

  @media (--breakpoint-sm) {
    background-color: var(--dark-secondary-color);
    background-image: none;
  }

  .heading {
    text-transform: none;
  }
}

.search__sidebar-heading {
  text-transform: none;
}