{#
/**
 * @file fsa-alert-product-details.html.twig
 * Theme implementation for FSA Alert Type field formatter.
 *
 * Available variables:
 * - product: The products array.
 * - product.name
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
    {% for product in products %}
        <div>{{ product }}</div>
    {% endfor %}
</div>