{#
/**
 * @file fsa-alert-type.html.twig
 * Theme implementation for FSA Alert Type field formatter.
 *
 * Available variables:
 * - title: The name of the alert type
 * - type: Machine-name of the type
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
    <div>{{ title }} ({{ type }})</div>
</div>