{#
/**
 * @file fsa-alert-product-details.html.twig
 * Theme implementation for FSA Alert Type field formatter.
 *
 * Available variables:
 * - product: Product details array
 *
 * @ingroup themeable
 * @see Drupal\fsa_alerts_import\src\Plugin\Field\FieldFormatter\AlertJsonToHtml.php
 */
#}
<div{{ attributes }}>
    {% for productdetail in product %}
        {{ productdetail }}
    {% endfor %}
</div>