@import '../style.css';
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

:root {
  --styleguide-color-black: var(--color-black, #000);
  --styleguide-color-white: var(--color-white, #fff);
  --styleguide-color-gray-light: var(--color-gray-light, #eee);
  --styleguide-color-gray: var(--color-gray, #9e9e9e);
  --styleguide-color-blue-light: var(--color-blue-light, #6db2e7);
  --styleguide-color-blue: var(--color-blue, #2572ad);
  --styleguide-color-blue-dark: var(--color-blue-dark, #18507b);
  --styleguide-primary-color-light: var(--styleguide-color-blue-light);
  --styleguide-primary-color: var(--styleguide-color-blue);
  --styleguide-primary-color-dark: var(--styleguide-color-blue-dark);
  --styleguide-box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
}

#fsa-logo {
  color: #fff;
}

section {
  background-color: #fff !important;
}

.underline {
  text-decoration: underline;
}

.code {
  display: block;
  height: 100%;
  transition:
    backround-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.pre {
  overflow: auto;
  margin: 0;
}

#container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.hero {
  background-color: #fff;
  color: var(--fsa-primary_dark-green);
  border-bottom: 2px solid var(--fsa-primary_light-green);
  margin-bottom: 30px;
  @mixin responsive-declaration padding, 1em, 2em;

  .heroContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  span {
    font-size: 1.5em;
  }
}

.hero h1 {
  @mixin responsive-declaration font-size, 1.5em, 3em;
}

.hero h2 {
  @mixin responsive-declaration font-size, 1em, 2em;
}

.layout {
  @mixin responsive-declaration padding-left, 2em, 4em;
  @mixin responsive-declaration padding-right, 2em, 4em;

  position: relative;
}

.navigation {
  @mixin responsive-declaration padding, 1em, 2em;

  position: relative;
  z-index: var(--z-middle);
  color: var(--color-white);
  }

.navigation > *:first-child {
  margin-top: 0;
}

.navigation__links {
  display: flex;
  flex-wrap: wrap;
}

:global .hero-wrapper,
:global .header,
:global .footer-wrapper {
  background-color: #fff !important;
}

:global .visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

:global #fsa-logo {
  width: 250px;
  height: 160px;
  padding-right: 30px;
}

:global #fsa-explains-heading {
  margin-bottom: 0;
}

:global .is-bottom {
  @media (--breakpoint-md) {
    position: absolute;
    top: auto;
    bottom: 0;
    right: 0;
  }
}

:global .footer-top-wrapper,
:global .navigation-wrapper {
  background-color: #fff !important;
}

:global .navigation__menu.navigation__menu--level-2.js-nav-menu {
  top: -99999px;
}

:global .edit-is-useful-yes-input,
:global .edit-is-useful-yes-label,
:global .edit-is-useful-no-input,
:global .edit-is-useful-no-label {
  display: inline;
  float: right;
}

:global .edit-is-useful-no-label {
  padding-left: 15px !important;
}

.navigation__heading {
  color: var(--styleguide-color-black);
}

.navigationItem {
  font-size: 1em;
  color: var(--styleguide-primary-color);
  padding: 5px 30px;
}

.navigationItem:hover {
  text-decoration: underline;
}

.layout__content {
  @mixin responsive-declaration padding-bottom, 1em, 3em;
  @mixin responsive-declaration padding-right, 1em, 4em;
  @mixin responsive-declaration padding-left, 1em, 4em;

  position: relative;
  z-index: var(--z-bottom);
  flex: 1 1 100%;
  min-height: 100vh;

  @media (--breakpoint-md) {
    margin-right: 20em;
    padding-right: 0;
  }

  @media (--breakpoint-lg) {
    margin-right: 25.5em;
  }
}

.main {
  @mixin responsive-declaration padding, 1em, 2em;
  margin: 0;
}

.color {
  flex: 1 1 25%;
  min-height: 4em;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1em;
  border: 1px solid var(--styleguide-color-gray-light);
}

.color__example {
  width: 100%;
  height: 1em;
  border-bottom: 1px solid var(--styleguide-color-gray-light);
}

.color__property {
  margin: 0;
  text-align: center;
  font-family: monospace;
}

.color__value {
  margin: 0;
  padding: 0.1em;
  font-family: monospace;
}

:global form.code-form.hidden {
  display: none;
}

.item {
  @mixin responsive-declaration margin-bottom, 1em, 2em;

  background-color: var(--styleguide-color-white);
  position: relative;
}

.item:not(:first-child) {
  @mixin responsive-declaration margin-top, 3em, 6em;
}

.item__header {
  @mixin responsive-declaration margin-bottom, 1em, 2em;
}

.item__title {
  @mixin responsive-declaration font-size, 1.5em, 2em;

  margin: 0;
  padding: 0.25em 0;
  display: block;
  border-bottom: 1px solid var(--styleguide-color-gray);
  color: var(--fsa-primary_dark-green);
}

.item__description {
  @mixin responsive-declaration margin-top, 1em, 2em;

  margin: 0;
  padding: 0.25em 1em;
  display: block;
  border-left: 3px solid var(--styleguide-color-gray);
}

.item__description:empty {
  display: none;
}

.item__element {
  @mixin responsive-declaration margin-top, 1em, 2em;
  @mixin responsive-declaration margin-bottom, 1em, 2em;

  flex: 0 0 50%;
}

.item__code {
  flex: 0 0 50%;
  border-top: 1px solid var(--styleguide-color-gray);
  margin-bottom: 0;
}

.item__content {
  max-width: 70em;
}

.item__content > *:first-child {
  margin-top: 0;
}

.item__content h1,
.item__content h2,
.item__content h3,
.item__content h4 {
  @mixin responsive-declaration margin-top, 1em, 2em;
  @mixin responsive-declaration margin-bottom, 0.5em, 1.5em;

  font-weight: 600;
}

.item__input {
  display: none;
}

.item__tabList {
  display: flex;
}

.item__tabItem {
  @mixin responsive-declaration padding, 0.5em, 1em;

  cursor: pointer;
  flex: 1 1 auto;
  text-align: center;
  font-weight: 400;
}

.item__input.item__html:checked ~ .item__tabList .item__tabItem.item__html,
.item__input.item__css:checked ~ .item__tabList .item__tabItem.item__css,
.item__input.item__js:checked ~ .item__tabList .item__tabItem.item__js {
  background-color: var(--styleguide-primary-color);
  color: var(--styleguide-color-white);
  font-weight: 600;
}

.item__tabContent {
  position: relative;
  width: 100%;
  height: 30em;
  overflow-y: auto;
}

.item__tabCode {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.item__input.item__html:checked ~ .item__tabContent .item__tabCode.item__html,
.item__input.item__css:checked ~ .item__tabContent .item__tabCode.item__css,
.item__input.item__js:checked ~ .item__tabContent .item__tabCode.item__js {
  display: block;
}
