<article class="${scope.styles.locals.item}" id="${scope.id}">
  <header class="${scope.styles.locals.item__header}">
    <h3 class="${scope.styles.locals.item__title}">${scope.title}</h3>
    <p class="${scope.styles.locals.item__description}">${scope.description}</p>
  </header>

  <div class="${scope.styles.locals.item__element}">${scope.element}</div>

  <form class="show-code-checkbox">
    <input type="checkbox" class="show-code" name="show-code" value="show-code" id="show-code-${scope.id}" data-corresponding-code="code-form-${scope.id}">
    <label for="show-code-${scope.id}">Show code?</label>
  </form>

  <form class="${scope.styles.locals.item__code} code-form code-form-${scope.id} hidden" role="region">

    <input name="info-input" id="tabHTML-${scope.guid}" type="radio" class="${scope.styles.locals.item__input} ${scope.styles.locals.item__html}" checked="">
    <input name="info-input" id="tabCSS-${scope.guid}" type="radio" class="${scope.styles.locals.item__input} ${scope.styles.locals.item__css}">

    <div class="${scope.styles.locals.item__tabList}" role="tablist">
      <label class="${scope.styles.locals.item__tabItem} ${scope.styles.locals.item__html}" for="tabHTML-${scope.guid}" role="tab" aria-selected="true"><span class="info-tab-label-text">HTML</span></label>
      <label class="${scope.styles.locals.item__tabItem} ${scope.styles.locals.item__css}" for="tabCSS-${scope.guid}" role="tab" aria-selected="false"><span class="info-tab-label-text">CSS</span></label>
    </div>

    <div class="${scope.styles.locals.item__tabContent}">
      <div class="${scope.styles.locals.item__tabCode} ${scope.styles.locals.item__html}" role="tabpanel">
        <pre class="${scope.styles.locals.pre}"><code class="${scope.styles.locals.code} html">${scope.html || '<br>/* No component-specific HTML required. */'}</code></pre>
      </div>

      <div class="${scope.styles.locals.item__tabCode} ${scope.styles.locals.item__css}" role="tabpanel">
        <pre class="${scope.styles.locals.pre}"><code class="${scope.styles.locals.code} css">${scope.css || '<br>/* No component-specific CSS required, but inspecting via devtools will reveal where styles have cascaded from. */'}</code></pre>
      </div>
    </div>

  </form>
</article>
