<div class="styleguide-field-container">
  <h1>Heading Level 1</h1>
  <h2>Heading Level 2</h2>
  <h3>Heading Level 3</h3>
  <h4>Heading Level 4</h4>
  <h5>Heading Level 5</h5>
  <h6>Heading Level 6</h6>

  <br>

  <div class="guide__title__wrapper">
    <h1>
      <span class="guide__title">Guide title Maecenas nec odio et ante tincidunt tempus</span>
      <span class="guide__page__title">Page title Maecenas nec odio et ante tincidunt tempus</span>
    </h1>
  </div>



  <div class="field__body">
    <p>This is standard text within a paragraph</p>
    <a href="#">This is a link</a>
    <p><strong>This is strong text</strong></p>
    <p><em>This text has added emphasis</em></p>
    <ul>
      <li>lists</li>
      <li>look</li>
      <li>like</li>
      <li>this</li>
    </ul>
  </div>

  <table data-striping="1">
    <caption>
      <p>Tables look like this.</p>
    </caption>
    <tbody>
      <tr>
        <td>Product code</td>
        <td>7855462</td>
      </tr>
      <tr>
        <td>Pack size</td>
        <td>12x100g</td>
      </tr>
      <tr>
        <td>Best before</td>
        <td>All dates</td>
      </tr>
    </tbody>
  </table>

  <blockquote>
    <p>'This is an example of a quotation. You'll often see it below a photograph of the person being quoted - for example, it's used extensively on the "people who protect your plate" page.'</p>
  </blockquote>

  <div class="important">This grey box is used for additional important information. There are several variations of this, such as information specific to different regions. Examples of these are below.</div>

  <div class="regional-variation regional-variation--england js-regional-variation js-england">
    Regional variation: England
  </div>

  <div class="regional-variation regional-variation--wales js-regional-variation js-wales">
    Regional variation: Wales
  </div>

  <div class="regional-variation regional-variation--northern-ireland js-regional-variation js-northern-ireland">
    Regional variation: Northern Ireland
  </div>

  <div class="regional-variation regional-variation--england-wales js-regional-variation js-england-wales">
    Regional variation: Multiple regions (e.g. England and Wales)
  </div>

  <section class="explanation-style js-callout-style">
    This is an FSA Explains
  </section>

  <section class="best-practice-style js-callout-style">
    <p>This is a best practice</p>
  </section>

  <section class="legal-advice-style js-callout-style">
    <p>This is a legal one</p>
  </section>

  <section class="tips-style js-callout-style">
    <p>This is a tips one</p>
  </section>

  <section class="important-style js-callout-style">
    <p>This is an important callout box.</p>
  </section>

  <section class="important">
    <p>This is a generic callout box</p>
  </section>

  <article class="embedded-entity">
    <article class="media media-document view-mode-document-link">
      <div class="field field__field_document">
        <div class="file__type_application-pdf">
          <div>
            <a href="" class="ext">Example link to download a pdf document.
              <span class="ext">
                <span class="element-invisible"> </span>
              </span>
            </a>
            <span>(100 KB)</span>
          </div>
        </div>
      </div>
    </article>
  </article>
</div>
