{#
/**
 * @file
 * Node template to display Related link promo.
 *
 * NB! Template field--paragraph--field-related-content-block.html.twig uses
 * the same markup to display related link with manually curated content.
 *
 * @see template_preprocess_node()
 */
#}

{# @todo: Oskari note I used content promo field class, reuse something else or create new classes to make more sense with nanming #}
<a href="{{ url }}" rel="bookmark" class="field__field_content_promo__item">
    <div class="related__content">
        <h4 class="related__heading">{{ label }}</h4>
        {{ content }}
    </div>
</a>
