{# FHRS Ratings explanations template. #}

{# @todo: do not use javascript back #}
<a href="#" onclick="history.go(-1);return false;">Back</a>

<table>
  {{ ratings }} {# See fsa-ratings-meanings-item.html.twig for each rating item #}
</table>

<p>{{ paragraph_1 }}</p>

<p>{{ paragraph_2 }}</p>