{# FHRS Ratings explanations template. #}

{{ backlink }}

<table>
  {{ ratings }} {# See fsa-ratings-meanings-item.html.twig for each rating item #}
</table>

<p>{{ paragraph_1 }}</p>

<p>{{ paragraph_2 }}</p>