{# FHRS Ratings explanations template. #}
{% set randomID = [] %}
{% for i in 1..10 %}
    {% set alpha = 'abcdefghijklmnopqrstuvwxyz' %}
    {% set alphaUpper = alpha|upper %}
    {% set numbers = '0123456789' %}
    {% set randomCharacter = random(alpha ~ alphaUpper ~ numbers ~ '-_') %}
    {% set randomID = randomID|merge([randomCharacter]) %}
{% endfor %}
{% set randomID = randomID|join %}

<div class="ratings">

  <div class="ratings__content ratings__content--listing">
    <div class="peek">
      <div class="peek__container">
        <header class="ratings__header rating__header--back-link">
          {{ backlink }}
        </header>

        <div class="ratings-meanings">
          <h1>{% trans %}What do the different ratings mean{% endtrans %}</h1>
          
          <div class="ratings-meanings__table">
            <div class="table" role="grid">
              {{ ratings }} {# See fsa-ratings-meanings-item.html.twig for each rating item #}
            </div>
          </div>

          <div class="container container--content">
            <p>{{ paragraph_1 }}</p>

            <p>{{ paragraph_2 }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
