body {
  font-family:'Open Sans', sans-serif;
  font-size: 90%;
}
.page {
  padding: 40px;
}

.page img {
  max-width: 100%;
  height: auto;
}

.off-canvas {
  display: none;
}

body > div > article > h2:first-of-type {
  font-size: 2.2em;
}

div.field__body > h2 {
  font-size: 1.25em;
}

h2 > a {
  color: black;
  text-decoration: none;
}
